body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #0b3d91, #43e5c7);
    
    text-align:center;
}

.container{
    max-width: 1000px;
    margin:auto;
    padding:20px;
    color:white;
}

h1{
    margin-top:20px;
    font-size:2rem;
}

.question{
    font-size:1.8rem;
    margin:20px 0;
}

img{
    width:80%;
    max-height:350px;
    object-fit:cover;
    border-radius:15px;
    box-shadow:0 0 20px rgba(0,0,0,0.5);
}

.answers{
    margin-top:30px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:15px;
}

button{
    padding:15px;
    font-size:1.1rem;
    border:none;
    border-radius:10px;
    cursor:pointer;
    transition:0.3s;
    font-weight:bold;
}

button:hover{
    transform:scale(1.05);
}

.correct{
    background-color:#2ecc71 !important;
}

.incorrect{
    background-color:#e74c3c !important;
}

.next-btn{
    position:fixed;
    bottom:20px;
    right:20px;
    display:none;
    background-color:#f1c40f;
    color:black;
}